.banner-Image {
  background-image: url("../Image/imgbanner.jpg");
  height: 504px;
  background-position: 0 -42px;
  background-repeat: no-repeat;
  background-size: 1230px;
  margin: 0px 159px -162px 145px;

  .input-box {
    width: 100%;
    margin-top: 20px;
    .MuiFormControl-root {
      width: 83%;
      background: white;
      border: none;
      border-radius: 37px;
      height: 48px;

      .MuiInputBase-root {
        width: 95%;
        border: none;

        input {
          width: 80%;
          padding: 12px 19px;
        }
        fieldset {
          border: none;
        }
      }
    }
  }
}

// ipad view

@media only screen and (max-width: 900px) {
  .banner-Image {
    .input-box {
      // width: 100%;
      // margin-top: 20px;
      .MuiFormControl-root {
        width: 58%;
        background: white;
        border: none;
        border-radius: 37px;
        height: 35px;

        .MuiInputBase-root {
          width: 95%;
          border: none;

          input {
            width: 50%;
            padding: 12px 19px;
          }
          fieldset {
            border: none;
          }
        }
      }
    }
  }
}
