.weeks-container {
  .weeks {
    display: flex;
    .owl-stage-outer {
      .owl-stage {
        display: flex;
        transition: none;
        transform: none;
        width: 100%;

        .owl-item {
          width: 157px !important;
          .active {
            width: 157px !important;
          }
          .cloned {
            width: 157px !important;
            margin: 0;
          }
        }
        .vote {
          font-size: 13px;
          position: fixed;
          border: 2px solid black;
          border-radius: 50%;
          width: 33px;
          height: 27px;
          text-align: center;
          padding-top: 5px;
          margin: -28px 0px 17px 12px;
          background: blueviolet;
          color: white;
        }
      }
    }
    .owl-nav {
      display: none;
    }
  }
}
.css-13xfq8m-MuiTabPanel-root {
  // width: 100% !important;
  // overflow-y: scroll;
  overflow-x: hidden !important;
}
